device_type: arndale

job_name: {{ job_name }}
timeouts:
  job:
    minutes: 15
  connection:
    minutes: 4
  actions:
    u-boot-commands:
      minutes: 3
  connections:
    lava-test-shell:
      minutes: 4
priority: medium
visibility: public

actions:
- deploy:
    timeout:
      minutes: 3
    to: tftp
    kernel:
      url: {{ kernel }}
      type: zimage
    ramdisk:
      url: http://images.validation.linaro.org/snapshots.linaro.org/components/lava/standard/debian/jessie/armhf/4/initramfs.cpio.gz
      compression: gz
      # the bootloader needs a u-boot header on the modified ramdisk
      add-header: u-boot
    modules:
      url: http://images.validation.linaro.org/snapshots.linaro.org/components/lava/standard/debian/jessie/armhf/4/modules.tar.gz
      compression: gz
    # despite this being a Debian initramfs, it is not a complete Debian rootfs, so use oe compatibility
    os: oe
    dtb:
      url: {{ dtb }}

- boot:
    method: u-boot
    commands: ramdisk
    prompts:
    # escape the brackets to ensure that the prompt does not match
    # kernel debug lines which may mention initramfs
    - '\(initramfs\)'
    timeout:
      minutes: 5

- test:
    definitions:
    - from: inline
      name: smoke
      path: smoke.yaml
      repository:
        metadata:
          description: Basic system test command for Linaro Ubuntu images
          format: Lava-Test Test Definition 1.0
          name: smoke
        run:
          steps:
          - uname -a
          - cat /proc/cpuinfo
          - cat /proc/meminfo
    timeout:
      minutes: 2
