device_type: beaglebone-black

job_name: {{ job_name }}
timeouts:
  job:
    minutes: 10
  connection:
    minutes: 2
priority: medium
visibility: public

actions:
- deploy:
    timeout:
      minutes: 4
    to: tftp
    kernel:
      url: {{ kernel }}
      type: zimage
    ramdisk:
      url: http://images.validation.linaro.org/snapshots.linaro.org/components/lava/standard/debian/jessie/armhf/4/initramfs.cpio.gz
      compression: gz
      # the bootloader needs a u-boot header on the modified ramdisk
      add-header: u-boot
    modules:
      url: http://images.validation.linaro.org/snapshots.linaro.org/components/lava/standard/debian/jessie/armhf/4/modules.tar.gz
      compression: gz
    nfsrootfs:
      url: http://images.validation.linaro.org/snapshots.linaro.org/components/lava/standard/debian/jessie/armhf/4/jessie-armhf-nfs.tar.gz
      compression: gz
    os: debian
    dtb:
      url: {{ dtb }}

- boot:
    method: u-boot
    commands: nfs
    auto_login:
      login_prompt: 'login:'
      username: root
    prompts:
    - 'root@jessie:'
    timeout:
      minutes: 2

- test:
    definitions:
    - from: inline
      name: smoke
      path: smoke.yaml
      repository:
        metadata:
          description: Basic system test command for Linaro Ubuntu images
          format: Lava-Test Test Definition 1.0
          name: smoke
        run:
          steps:
          - uname -a
          - cat /proc/cpuinfo
          - cat /proc/meminfo
    timeout:
      minutes: 2
