device_type: juno

job_name: {{ job_name }}
timeouts:
  job:
    minutes: 60
priority: medium
visibility: public

context:
  # Default bootloader prompt is VExpress64
  # Override for Juno device type
  bootloader_prompt: juno#

actions:
# Deploy the recovery image
- deploy:
    namespace: recovery
    timeout:
      minutes: 10
    to: vemsd
    recovery_image:
      url:  http://releases.linaro.org/members/arm/platforms/17.04/juno-latest-oe-uboot.zip
      compression: zip

- deploy:
    namespace: busybox
    timeout:
      minutes: 2
    to: tftp
    os: oe
    kernel:
      url: {{ kernel }}
      type: image
    dtb:
      url: {{ dtb }}
    ramdisk:
      url: http://snapshots.linaro.org/components/optee/build/juno/10/ramdisk.img
      compression: gz
      header: u-boot

- boot:
    namespace: busybox
    connection-namespace: recovery
    method: u-boot
    commands: ramdisk
    auto_login:
      login_prompt: 'Please press Enter to activate this console.'
      # simulate pressing enter because username is required by lava
      username: ''
    prompts:
    - root@(.*):/

- test:
    namespace: busybox
    definitions:
    - from: inline
      name: smoke
      path: smoke.yaml
      repository:
        metadata:
          description: Basic system test command for Linaro Ubuntu images
          format: Lava-Test Test Definition 1.0
          name: smoke
        run:
          steps:
          - uname -a
          - cat /proc/cpuinfo
          - cat /proc/meminfo
    timeout:
      minutes: 2
